{extends file="admin-layout.tpl"}
{default_translation_domain domain='indexengine.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Index tasks'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}IndexEngine{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        <div class="alert alert-danger form-error-alert">
            {if $general_error}
                {$general_error}
            {/if}
        </div>


        <!-- IndexEngineIndex list -->
        <div class="general-block-decorator">
            <h3 class="title-without-tabs">
                {intl l="Execute a task"}
            </h3>

            {form name="index_engine_task.execute"}
            <form method="post" id="index-task-form">
                {form_field form=$form field="task_code"}
                <div class="form-group">
                    <label for="choice-task-code">
                        {intl l="Task"}<span class="required">*</span>
                    </label>

                    {form_error form=$form field="task_code"}
                        <div class="alert alert-danger">{$form_error_message}</div>
                    {/form_error}

                    <select id="choice-task-code" name="{$name}" class="form-control">
                        {foreach from=$choices item=choice}
                            <option value="{$choice->value}">{$choice->label}</option>
                        {/foreach}
                    </select>
                </div>
                {/form_field}


                <div id="task-configuration-form"></div>
            </form>
            {/form}


            <button type="button" class="btn btn-success btn-run-task">
                <i class="glyphicon glyphicon-play-circle"></i> {intl l="Run"}
            </button>

            <div class="task-output">

            </div>
        </div>
    </div>

{/block}

{block name="javascript-initialization"}
    <script>
        (function ($) {
            // Run task
            var $choice = $("#choice-task-code");

            $(".btn-run-task").click(function() {
                $.ajax({
                    url: "{url path="/admin/module/IndexEngine/task/run/"}"+$choice.val(),
                    method: "post",
                    data: $("#index-task-form").serialize()
                }).always(function (output, textStatus, xhr) {
                    var status = null;
                    if (xhr.status >= 200 && xhr.status < 300) {
                        // success
                        status = $("<span style='color: green'> <i class='glyphicon glyphicon-check'></i> "+xhr.status+"</span>");
                    } else if(xhr.status >= 400 && xhr.status < 600) {
                        // 4XX : client error
                        // 5XX : server error
                        status = $("<span style='color: red'> <i class='glyphicon glyphicon-remove'></i> "+xhr.status+"</span>");
                    } else {
                        // Wait, redirection, ...
                        status = $("<span style='color: orange'> <i class='glyphicon glyphicon-minus'></i> "+xhr.status+"</span>");
                    }

                    $(".task-output").html(
                            $("<h3>").html("{intl l="Output"}")
                                    .append(status)
                    ).append(
                            $("<textarea readonly class='form-control' rows=10>").html(output.replace(/\</g, "&lt;").replace(/\>/, "&gt;"))
                    );
                });
            });

            // Choice configuration form
            $choice.change(function() {
                update_configuration_form($(this));
            });

            function update_configuration_form($choice) {
                var $configForm = $("#task-configuration-form");

                $.ajax({
                    url: "{url path="/admin/module/IndexEngine/task/configuration-form/"}"+$choice.val(),
                    method: "post",
                    data: $("#index-task-form").serialize()
                }).success(function(data) {
                    $configForm.html(data);
                    $(".form-error-alert").html("").hide();
                }).fail(function (data) {
                    try {
                        data = JSON.parse(data);
                    } catch (e) {
                        data = {};
                    }

                    var message = data.error_message == undefined ? "{intl l="An error occurred"}" : data.error_message;

                    $(".form-error-alert").html(message).show();
                });
            }

            update_configuration_form($choice);
        })(jQuery)
    </script>
{/block}