{extends file="admin-layout.tpl"}
{default_translation_domain domain='indexengine.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='IndexEngineIndex'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}IndexEngine{/block}

{block name="main-content"}

    {form name="index_engine_index.update"}
        <div id="wrapper" class="container">

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="IndexEngineIndex edit" d="indexengine.bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype form=$form} class="clearfix" >

                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/IndexEngine"}
                        }

                        {form_field form=$form field="id"}
                        {assign "index_engine_index_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
                        {form_field form=$form field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/IndexEngine'}/index_engine_index"/>
                        {/form_field}
                        {form_hidden_fields form=$form}

                        {loop name="index_engine_index_update" type="index-engine-index" backend_context="yes" id=$index_engine_index_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-4">
                                            {form_field form=$form field="code"}
                                                <div class="form-group">
                                                    <label class="control-label" for="{$label_attr.for}">
                                                        {$label}
                                                        {if $required}<span class="required">*</span>{/if}
                                                    </label>

                                                    {form_error form=$form field="code"}{$message}{/form_error}

                                                    <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$CODE}" placeholder="{intl l='The IndexEngineIndex code'}" />
                                                </div>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-4">
                                            {form_field form=$form field="title"}
                                                <div class="form-group">
                                                    <label class="control-label" for="{$label_attr.for}">
                                                        {$label}
                                                        {if $required}<span class="required">*</span>{/if}
                                                    </label>

                                                    {form_error form=$form field="title"}{$message}{/form_error}

                                                    <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$TITLE}" placeholder="{intl l='The IndexEngineIndex title'}" />
                                                </div>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-4">
                                            {form_field form=$form field="index_engine_driver_configuration_id"}
                                                <div class="form-group">
                                                    <label class="control-label" for="{$label_attr.for}">
                                                        {$label}
                                                        {if $required}<span class="required">*</span>{/if}
                                                    </label>

                                                    {form_error form=$form field="index_engine_driver_configuration_id"}{$message}{/form_error}

                                                    <select name="{$name}" id="{$label_attr.for}" class="form-control">
                                                        {loop type="index-engine-driver-configuration" name="index-engine-driver-configuration-select"}
                                                            <option value="{$ID}" {if $value==$ID}selected{/if}>{$CODE}</option>
                                                        {/loop}
                                                    </select>
                                                </div>
                                            {/form_field}
                                        </div>
                                    </div>

                                    {hook name="index_engine.index.form" id=$ID}

{*
                                    {form_field form=$form field="entity"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="entity"}{$message}{/form_error}

                                            <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$ENTITY}" placeholder="{intl l='The IndexEngineIndex entity'}" />
                                        </div>
                                    {/form_field}
*}
                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/IndexEngine"}
                                    }

                                    <small>
                                        {intl
                                            l="IndexEngineIndex created on %created_at. Last modification: %updated_at"
                                            created_at={format_date date=$CREATE_DATE}
                                            updated_at={format_date date=$UPDATE_DATE}
                                            d="indexengine.bo.default"
                                        }
                                    </small>
                                </div>
                            </div>
                            {$current_id=$ID}
                        {/loop}

                    </form>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
    {hook name="index_engine.index.form-javascript" id=$current_id}
{/block}