<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
  <parameters>
    <parameter key="index_engine.indexable_entity_repository.class">IndexEngine\Discovering\Repository\IndexableEntityRepository</parameter>
    <parameter key="index_engine.driver.registry.class">IndexEngine\Driver\DriverRegistry</parameter>
    <parameter key="index_engine.event_dispatcher.class">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</parameter>
    <parameter key="index_engine.database_collector.class">IndexEngine\Discovering\Collector\DatabaseSubscriber</parameter>
    <parameter key="index_engine.loop_collector.class">IndexEngine\Discovering\Collector\LoopSubscriber</parameter>
    <parameter key="index_engine.sql_query_collector.class">IndexEngine\Discovering\Collector\SqlQuerySubscriber</parameter>
    <parameter key="index_engine.form.thelia_form_listener.class">IndexEngine\Listener\TheliaFormSubscriber</parameter>
    <parameter key="index_engine.driver_configuration_form.hook.class">IndexEngine\Hook\DriverConfigurationHook</parameter>
    <parameter key="index_engine.index_configuration_form.hook.class">IndexEngine\Hook\IndexConfigurationHook</parameter>
    <parameter key="index_engine.form.argument_form_builder.class">IndexEngine\Form\Builder\ArgumentFormBuilder</parameter>
    <parameter key="index_engine.database_collector.render.class">IndexEngine\Discovering\Configuration\DatabaseSubscriber</parameter>
    <parameter key="index_engine.loop_collector.render.class">IndexEngine\Discovering\Configuration\LoopSubscriber</parameter>
    <parameter key="index_engine.sql_query_collector.render.class">IndexEngine\Discovering\Configuration\SqlQuerySubscriber</parameter>
    <parameter key="index_engine.index_configuration.subscriber.class">IndexEngine\Listener\IndexConfigurationSubscriber</parameter>
    <parameter key="index_engine.default_index_mapping.class">IndexEngine\Entity\IndexMapping</parameter>

    <!-- Managers -->
    <parameter key="index_engine.configuration_render_manager.class">IndexEngine\Manager\ConfigurationRenderManager</parameter>
    <parameter key="index_engine.sql_manager.class">IndexEngine\Manager\SqlManager</parameter>
    <parameter key="index_engine.search_manager.class">IndexEngine\Manager\SearchManager</parameter>
    <parameter key="index_engine.index_configuration_manager.class">IndexEngine\Manager\IndexConfigurationManager</parameter>
    <parameter key="index_engine.configuration.manager.class">IndexEngine\Manager\ConfigurationManager</parameter>

    <!-- Form -->
    <parameter key="index_engine.form.index_task_execute.class">IndexEngine\Form\IndexTaskExecuteForm</parameter>
    <parameter key="index_engine.form.index_task_configuration.class">IndexEngine\Form\IndexTaskConfigurationForm</parameter>

    <!-- Form type / Resolver -->
    <parameter key="index_engine.form.type_resolver.class">IndexEngine\Driver\Configuration\Resolver\TypeResolver</parameter>
    <parameter key="index_engine.form.type.index_mapping_type_type.class">IndexEngine\Form\Type\IndexMappingTypeType</parameter>
    <parameter key="index_engine.form.type.index_mapping_type.class">IndexEngine\Form\Type\IndexMappingType</parameter>
    <parameter key="index_engine.form.type.index_type.class">IndexEngine\Form\Type\IndexTypeType</parameter>
    <parameter key="index_engine.form.type.index_comparison.class">IndexEngine\Form\Type\IndexComparisonType</parameter>
    <parameter key="index_engine.form.type.index_condition.class">IndexEngine\Form\Type\IndexConditionType</parameter>
    <parameter key="index_engine.form.type.index_engine_driver.class">IndexEngine\Form\Type\IndexEngineDriverType</parameter>
    <parameter key="index_engine.form.type.index_task.class">IndexEngine\Form\Type\IndexTaskType</parameter>
    <parameter key="index_engine.form.type.loop_criterion.class">IndexEngine\Form\Type\LoopCriterionType</parameter>

    <!-- Commands -->
    <parameter key="index_engine.command.list_drivers.class">IndexEngine\IO\Command\IndexDriverListCommand</parameter>
    <parameter key="index_engine.command.index_exists.class">IndexEngine\IO\Command\IndexExistsCommand</parameter>
    <parameter key="index_engine.command.index_exists.raw.class">IndexEngine\IO\Command\IndexExistsRawCommand</parameter>
    <parameter key="index_engine.command.index_create.class">IndexEngine\IO\Command\IndexCreateCommand</parameter>
    <parameter key="index_engine.command.index_delete.class">IndexEngine\IO\Command\IndexDeleteCommand</parameter>
    <parameter key="index_engine.command.index_delete.raw.class">IndexEngine\IO\Command\IndexDeleteRawCommand</parameter>
    <parameter key="index_engine.command.index_persist.class">IndexEngine\IO\Command\IndexPersistCommand</parameter>
    <parameter key="index_engine.command.configuration_list.class">IndexEngine\IO\Command\IndexDriverConfigurationListCommand</parameter>

    <!-- Drivers -->
    <parameter key="index_engine.driver.elastic_search.class">IndexEngine\Driver\Bridge\ElasticSearch\ElasticSearchDriver</parameter>
    <parameter key="index_engine.driver.elastic_search_listener.class">IndexEngine\Driver\Bridge\ElasticSearch\ElasticSearchListener</parameter>
    <parameter key="index_engine.driver.open_search_server.class">IndexEngine\Driver\Bridge\OpenSearchServer\OpenSearchServerDriver</parameter>
    <parameter key="index_engine.driver.open_search_server_listener.class">IndexEngine\Driver\Bridge\OpenSearchServer\OpenSearchServerListener</parameter>

    <!-- Tasks related classes -->
    <parameter key="index_engine.task.registry.class">IndexEngine\Driver\Task\TaskRegistry</parameter>
    <parameter key="index_engine.task.create.class">IndexEngine\Driver\Task\Core\CreateTask</parameter>
    <parameter key="index_engine.task.update.class">IndexEngine\Driver\Task\Core\UpdateTask</parameter>
    <parameter key="index_engine.task.persist.class">IndexEngine\Driver\Task\Core\PersistTask</parameter>
    <parameter key="index_engine.task.delete.class">IndexEngine\Driver\Task\Core\DeleteTask</parameter>
    <parameter key="index_engine.task.exists.class">IndexEngine\Driver\Task\Core\ExistsTask</parameter>

    <!-- Smarty Plugin -->
    <parameter key="index_engine.smarty.index_plugin.class">IndexEngine\Smarty\Plugin\Index</parameter>
  </parameters>

  <loops>
    <loop name="index-engine-index" class="IndexEngine\Loop\IndexEngineIndex"/>
    <loop name="index-engine-driver-configuration" class="IndexEngine\Loop\IndexEngineDriverConfiguration"/>
  </loops>

  <forms>
    <form name="index_engine_task.execute" class="%index_engine.form.index_task_execute.class%"/>
    <form name="index_engine_task.configuration" class="%index_engine.form.index_task_configuration.class%"/>

    <!-- TheliaStudio -->
    <form name="index_engine_index.create" class="IndexEngine\Form\IndexEngineIndexCreateForm"/>
    <form name="index_engine_index.update" class="IndexEngine\Form\IndexEngineIndexUpdateForm"/>
    <form name="index_engine_driver_configuration.create" class="IndexEngine\Form\IndexEngineDriverConfigurationCreateForm"/>
    <form name="index_engine_driver_configuration.update" class="IndexEngine\Form\IndexEngineDriverConfigurationUpdateForm"/>
  </forms>

  <commands>
    <command class="%index_engine.command.list_drivers.class%"/>
    <command class="%index_engine.command.index_exists.class%"/>
    <command class="%index_engine.command.index_exists.raw.class%"/>
    <command class="%index_engine.command.index_create.class%"/>
    <command class="%index_engine.command.configuration_list.class%"/>
    <command class="%index_engine.command.index_delete.class%"/>
    <command class="%index_engine.command.index_delete.raw.class%"/>
    <command class="%index_engine.command.index_persist.class%"/>
  </commands>

  <services>
    <!-- Task related services -->
    <service id="index_engine.task.registry" class="%index_engine.task.registry.class%"  scope="request"/>
    <service id="index_engine.task.create" class="%index_engine.task.create.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager" />
      <tag name="index_engine.task" />
    </service>
    <service id="index_engine.task.update" class="%index_engine.task.update.class%" scope="request">
      <argument type="service" id="index_engine.task.registry" />
      <tag name="index_engine.task" />
    </service>
    <service id="index_engine.task.persist" class="%index_engine.task.persist.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager" />
      <tag name="index_engine.task" />
    </service>
    <service id="index_engine.task.delete" class="%index_engine.task.delete.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager" />
      <tag name="index_engine.task" />
    </service>
    <service id="index_engine.task.exists" class="%index_engine.task.exists.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager" />
      <tag name="index_engine.task" />
    </service>

    <!-- Core elements -->
    <service id="index_engine.indexable_entity_repository" class="%index_engine.indexable_entity_repository.class%">
      <argument type="service" id="index_engine.event_dispatcher"/>
    </service>
    <service id="index_engine.driver.registry" class="%index_engine.driver.registry.class%"/>
    <service id="index_engine.event_dispatcher" class="%index_engine.event_dispatcher.class%">
      <argument type="service" id="service_container"/>
    </service>

    <!-- Configuration collectors and rendering services -->
    <service id="index_engine.database_collector" class="%index_engine.database_collector.class%" scope="request">
      <argument type="service" id="index_engine.propel_connection"/>
      <argument type="service" id="index_engine.index_configuration_manager" />
      <argument type="service" id="index_engine.sql_manager" />
      <tag name="index_engine.event_subscriber"/>
    </service>
    <service id="index_engine.database_collector.render" class="%index_engine.database_collector.render.class%" scope="request">
      <argument type="service" id="thelia.parser"/>
      <argument type="service" id="index_engine.indexable_entity_repository"/>
      <argument type="service" id="index_engine.form.type.index_comparison"/>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="index_engine.loop_collector" class="%index_engine.loop_collector.class%" scope="request">
      <argument>%Thelia.parser.loops%</argument>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <argument type="service" id="service_container"/>
      <argument type="service" id="thelia.logger"/>
      <tag name="index_engine.event_subscriber"/>
    </service>
    <service id="index_engine.loop_collector.render" class="%index_engine.loop_collector.render.class%" scope="request">
      <argument type="service" id="thelia.parser"/>
      <argument type="service" id="index_engine.indexable_entity_repository"/>
      <argument type="service" id="index_engine.form.type.index_comparison"/>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="index_engine.sql_query_collector" class="%index_engine.sql_query_collector.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager" />
      <argument type="service" id="index_engine.sql_manager" />
      <tag name="index_engine.event_subscriber"/>
    </service>
    <service id="index_engine.sql_query_collector.render" class="%index_engine.sql_query_collector.render.class%" scope="request">
      <argument type="service" id="thelia.parser"/>
      <argument type="service" id="index_engine.indexable_entity_repository"/>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="kernel.event_subscriber"/>
    </service>

    <!-- Configuration related manager -->
    <service id="index_engine.configuration.manager" class="%index_engine.configuration.manager.class%" scope="request">
      <argument type="service" id="request"/>
      <argument type="service" id="index_engine.driver.registry"/>
    </service>
    <service id="index_engine.index_configuration_manager" class="%index_engine.index_configuration_manager.class%" scope="request">
      <argument type="service" id="event_dispatcher"/>
      <argument type="service" id="index_engine.event_dispatcher"/>
      <argument type="service" id="request"/>
      <argument type="service" id="index_engine.indexable_entity_repository"/>
      <argument type="service" id="index_engine.configuration.manager"/>
    </service>
    <service id="index_engine.sql_manager" class="%index_engine.sql_manager.class%">
      <argument type="service" id="thelia.translator"/>
      <argument type="service" id="index_engine.propel_connection"/>
    </service>
    <service id="index_engine.search_manager" class="%index_engine.search_manager.class%" />
    <service id="index_engine.configuration_render_manager" class="%index_engine.configuration_render_manager.class%" scope="request">
      <argument type="service" id="thelia.parser" />
    </service>

    <!-- Thelia form listener -->
    <service id="index_engine.form.thelia_form_listener" class="%index_engine.form.thelia_form_listener.class%" scope="request">
      <argument type="service" id="index_engine.configuration.manager"/>
      <argument type="service" id="index_engine.form.argument_form_builder"/>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="index_engine.index_configuration.subscriber" class="%index_engine.index_configuration.subscriber.class%">
      <tag name="kernel.event_subscriber"/>
    </service>

    <!-- Form type resolver and builder -->
    <service id="index_engine.form.type_resolver" class="%index_engine.form.type_resolver.class%"/>
    <service id="index_engine.form.argument_form_builder" class="%index_engine.form.argument_form_builder.class%">
      <argument type="service" id="index_engine.form.type_resolver"/>
    </service>

    <!-- Form types -->
    <service id="index_engine.form.type.index_engine_driver" class="%index_engine.form.type.index_engine_driver.class%">
      <argument type="service" id="index_engine.driver.registry"/>
      <argument type="service" id="thelia.translator"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_comparison" class="%index_engine.form.type.index_comparison.class%">
      <argument type="service" id="thelia.translator"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_condition" class="%index_engine.form.type.index_condition.class%">
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_type" class="%index_engine.form.type.index_type.class%">
      <argument type="service" id="index_engine.indexable_entity_repository"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_mapping_type_type" class="%index_engine.form.type.index_mapping_type_type.class%">
      <argument type="service" id="index_engine.default_index_mapping" />
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_mapping_type" class="%index_engine.form.type.index_mapping_type.class%">
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_task" class="%index_engine.form.type.index_task.class%" scope="request">
      <argument type="service" id="index_engine.task.registry" />
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.loop_criterion" class="%index_engine.form.type.loop_criterion.class%">
      <tag name="thelia.form.type" />
    </service>

    <!-- Tools -->
    <service id="index_engine.default_index_mapping" class="%index_engine.default_index_mapping.class%" />

    <!-- Bridge drivers -->
    <!-- elastic search -->
    <service id="index_engine.driver.elastic_search" class="%index_engine.driver.elastic_search.class%">
      <tag name="index_engine.driver" listener="index_engine.driver.elastic_search_listener"/>
    </service>
    <service id="index_engine.driver.elastic_search_listener" class="%index_engine.driver.elastic_search_listener.class%">
      <tag name="index_engine.event_subscriber"/>
    </service>
    <!-- OpenSearchServer -->
    <service id="index_engine.driver.open_search_server" class="%index_engine.driver.open_search_server.class%">
      <tag name="index_engine.driver" listener="index_engine.driver.open_search_server_listener" />
    </service>
    <service id="index_engine.driver.open_search_server_listener" class="%index_engine.driver.open_search_server_listener.class%">
      <tag name="index_engine.event_subscriber" />
    </service>

    <!-- Smarty Plugin -->
    <service id="index_engine.smarty.index_plugin" class="%index_engine.smarty.index_plugin.class%" scope="request">
      <argument type="service" id="index_engine.search_manager"/>
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="thelia.parser.register_plugin" />
    </service>

    <!-- Well ... -->
    <service id="index_engine.propel_connection_wrapper" factory-class="Propel\Runtime\Propel" factory-method="getConnection" class="Propel\Runtime\Connection\ConnectionWrapper"/>
    <service id="index_engine.propel_connection" factory-service="index_engine.propel_connection_wrapper" factory-method="getWrappedConnection" class="PDO"/>

    <!-- FIX FOR THELIA 2.1 -->
    <service id="thelia.logger" class="Thelia\Tlog\Tlog" factory-class="Thelia\Log\Tlog" factory-method="getInstance"/>

    <!-- Thelia Studio -->
    <service id="action.indexengine.index_engine_index_table" class="IndexEngine\Action\IndexEngineIndexAction">
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="indexengine.form.type.index_engine_index_id" class="IndexEngine\Form\Type\IndexEngineIndexIdType">
      <argument id="thelia.translator" type="service"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="action.indexengine.index_engine_driver_configuration_table" class="IndexEngine\Action\IndexEngineDriverConfigurationAction">
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="indexengine.form.type.index_engine_driver_configuration_id" class="IndexEngine\Form\Type\IndexEngineDriverConfigurationIdType">
      <argument id="thelia.translator" type="service"/>
      <tag name="thelia.form.type"/>
    </service>
  </services>

  <hooks>
    <hook id="index_engine.driver_configuration_form.hook" class="%index_engine.driver_configuration_form.hook.class%" scope="request">
      <argument type="service" id="index_engine.driver.registry"/>
      <argument type="service" id="index_engine.configuration_render_manager"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.driver.form"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.driver.form-javascript"/>
    </hook>
    <hook id="index_engine.index_configuration_form.hook" class="%index_engine.index_configuration_form.hook.class%" scope="request">
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.index.form"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.index.form-javascript"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.index.after-columns"/>
    </hook>
  </hooks>
</config>
