<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
  <parameters>
    <parameter key="index_engine.indexable_entity_repository.class">IndexEngine\Discovering\Repository\IndexableEntityRepository</parameter>
    <parameter key="index_engine.driver.registry.class">IndexEngine\Driver\DriverRegistry</parameter>
    <parameter key="index_engine.event_dispatcher.class">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</parameter>
    <parameter key="index_engine.driver.elastic_search.class">IndexEngine\Driver\Bridge\ElasticSearch\ElasticSearchDriver</parameter>
    <parameter key="index_engine.driver.elastic_search_listener.class">IndexEngine\Driver\Bridge\ElasticSearch\ElasticSearchListener</parameter>
    <parameter key="index_engine.database_collector.class">IndexEngine\Discovering\Collector\DatabaseSubscriber</parameter>
    <parameter key="index_engine.loop_collector.class">IndexEngine\Discovering\Collector\LoopSubscriber</parameter>
    <parameter key="index_engine.form.type.index_engine_driver.class">IndexEngine\Form\Type\IndexEngineDriverType</parameter>
    <parameter key="index_engine.form.type_resolver.class">IndexEngine\Driver\Configuration\Resolver\TypeResolver</parameter>
    <parameter key="index_engine.form.thelia_form_listener.class">IndexEngine\Listener\TheliaFormSubscriber</parameter>
    <parameter key="index_engine.configuration.manager.class">IndexEngine\Manager\ConfigurationManager</parameter>
    <parameter key="index_engine.driver_configuration_form.hook.class">IndexEngine\Hook\DriverConfigurationHook</parameter>
    <parameter key="index_engine.index_configuration_form.hook.class">IndexEngine\Hook\IndexConfigurationHook</parameter>
    <parameter key="index_engine.form.argument_form_builder.class">IndexEngine\Form\Builder\ArgumentFormBuilder</parameter>
    <parameter key="index_engine.form.type.index_comparison.class">IndexEngine\Form\Type\IndexComparisonType</parameter>
    <parameter key="index_engine.form.type.index_condition.class">IndexEngine\Form\Type\IndexConditionType</parameter>
      <parameter key="index_engine.index_configuration_manager.class">IndexEngine\Manager\IndexConfigurationManager</parameter>
      <parameter key="index_engine.form.type.index_type.class">IndexEngine\Form\Type\IndexTypeType</parameter>

    <!-- Commands -->
    <parameter key="index_engine.command.list_drivers.class">IndexEngine\IO\Command\IndexDriverListCommand</parameter>
    <parameter key="index_engine.command.index_exists.class">IndexEngine\IO\Command\IndexExistsCommand</parameter>
    <parameter key="index_engine.command.configuration_list.class">IndexEngine\IO\Command\IndexConfigurationListCommand</parameter>
  </parameters>

  <loops>
    <loop name="index-engine-index" class="IndexEngine\Loop\IndexEngineIndex"/>
    <loop name="index-engine-driver-configuration" class="IndexEngine\Loop\IndexEngineDriverConfiguration"/>
    <loop name="index-engine-index-template" class="IndexEngine\Loop\IndexEngineIndexTemplate"/>
  </loops>

  <forms>
    <form name="index_engine_index.create" class="IndexEngine\Form\IndexEngineIndexCreateForm"/>
    <form name="index_engine_index.update" class="IndexEngine\Form\IndexEngineIndexUpdateForm"/>
    <form name="index_engine_driver_configuration.create" class="IndexEngine\Form\IndexEngineDriverConfigurationCreateForm"/>
    <form name="index_engine_driver_configuration.update" class="IndexEngine\Form\IndexEngineDriverConfigurationUpdateForm"/>
    <form name="index_engine_index_template.create" class="IndexEngine\Form\IndexEngineIndexTemplateCreateForm"/>
    <form name="index_engine_index_template.update" class="IndexEngine\Form\IndexEngineIndexTemplateUpdateForm"/>
  </forms>

  <commands>
    <command class="%index_engine.command.list_drivers.class%"/>
    <command class="%index_engine.command.index_exists.class%"/>
    <command class="%index_engine.command.configuration_list.class%"/>
  </commands>

  <services>
    <service id="index_engine.indexable_entity_repository" class="%index_engine.indexable_entity_repository.class%">
      <argument type="service" id="index_engine.event_dispatcher"/>
    </service>
    <service id="index_engine.database_collector" class="%index_engine.database_collector.class%">
      <argument type="service" id="index_engine.propel_connection"/>
      <tag name="index_engine.event_subscriber"/>
    </service>
    <service id="index_engine.loop_collector" class="%index_engine.loop_collector.class%">
      <argument>%Thelia.parser.loops%</argument>
      <argument type="service" id="service_container"/>
      <argument type="service" id="thelia.logger"/>
      <tag name="index_engine.event_subscriber"/>
    </service>
    <service id="index_engine.driver.registry" class="%index_engine.driver.registry.class%"/>
    <service id="index_engine.event_dispatcher" class="%index_engine.event_dispatcher.class%">
      <argument type="service" id="service_container"/>
    </service>
    <!-- Configuration related manager -->
    <service id="index_engine.configuration.manager" class="%index_engine.configuration.manager.class%" scope="request">
      <argument type="service" id="request"/>
      <argument type="service" id="index_engine.driver.registry"/>
    </service>
    <service id="index_engine.index_configuration_manager" class="%index_engine.index_configuration_manager.class%" scope="request">
      <argument type="service" id="event_dispatcher"/>
        <argument type="service" id="request"/>
        <argument type="service" id="index_engine.indexable_entity_repository"/>
    </service>
    <!-- Thelia form listener -->
    <service id="index_engine.form.thelia_form_listener" class="%index_engine.form.thelia_form_listener.class%" scope="request">
      <argument type="service" id="index_engine.configuration.manager"/>
      <argument type="service" id="index_engine.form.argument_form_builder"/>
      <tag name="kernel.event_subscriber"/>
    </service>

    <!-- Form type resolver and builder -->
    <service id="index_engine.form.type_resolver" class="%index_engine.form.type_resolver.class%"/>
    <service id="index_engine.form.argument_form_builder" class="%index_engine.form.argument_form_builder.class%">
      <argument type="service" id="index_engine.form.type_resolver"/>
    </service>
    <!-- Form types -->
    <service id="index_engine.form.type.index_engine_driver" class="%index_engine.form.type.index_engine_driver.class%">
      <argument type="service" id="index_engine.driver.registry"/>
      <argument type="service" id="thelia.translator"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="index_engine.form.type.index_comparison" class="%index_engine.form.type.index_comparison.class%">
      <argument type="service" id="thelia.translator" />
      <tag name="thelia.form.type" />
    </service>
    <service id="index_engine.form.type.index_condition" class="%index_engine.form.type.index_condition.class%">
      <tag name="thelia.form.type" />
    </service>
    <service id="index_engine.form.type.index_type" class="%index_engine.form.type.index_type.class%">
        <argument type="service" id="index_engine.indexable_entity_repository" />
      <tag name="thelia.form.type" />
    </service>
    <!-- Bridge drivers -->
    <!-- elastic search -->
    <service id="index_engine.driver.elastic_search" class="%index_engine.driver.elastic_search.class%">
      <tag name="index_engine.driver" listener="index_engine.driver.elastic_search_listener"/>
    </service>
    <service id="index_engine.driver.elastic_search_listener" class="%index_engine.driver.elastic_search_listener.class%">
      <tag name="index_engine.event_subscriber"/>
    </service>
    <!-- Well ... -->
    <service id="index_engine.propel_connection_wrapper" factory-class="Propel\Runtime\Propel" factory-method="getConnection" class="Propel\Runtime\Connection\ConnectionWrapper"/>
    <service id="index_engine.propel_connection" factory-service="index_engine.propel_connection_wrapper" factory-method="getWrappedConnection" class="PDO"/>
    <!-- FIX FOR THELIA 2.1 -->
    <service id="thelia.logger" class="Thelia\Tlog\Tlog" factory-class="Thelia\Log\Tlog" factory-method="getInstance"/>
    <!-- Thelia Studio -->
    <service id="action.indexengine.index_engine_index_table" class="IndexEngine\Action\IndexEngineIndexAction">
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="indexengine.form.type.index_engine_index_id" class="IndexEngine\Form\Type\IndexEngineIndexIdType">
      <argument id="thelia.translator" type="service"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="action.indexengine.index_engine_driver_configuration_table" class="IndexEngine\Action\IndexEngineDriverConfigurationAction">
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="indexengine.form.type.index_engine_driver_configuration_id" class="IndexEngine\Form\Type\IndexEngineDriverConfigurationIdType">
      <argument id="thelia.translator" type="service"/>
      <tag name="thelia.form.type"/>
    </service>
    <service id="action.indexengine.index_engine_index_template_table" class="IndexEngine\Action\IndexEngineIndexTemplateAction">
      <tag name="kernel.event_subscriber"/>
    </service>
    <service id="indexengine.form.type.index_engine_index_template_id" class="IndexEngine\Form\Type\IndexEngineIndexTemplateIdType">
      <argument id="thelia.translator" type="service"/>
      <tag name="thelia.form.type"/>
    </service>
  </services>

  <hooks>
    <hook id="index_engine.driver_configuration_form.hook" class="%index_engine.driver_configuration_form.hook.class%" scope="request">
      <argument type="service" id="index_engine.driver.registry"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.driver.form"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.driver.form-javascript"/>
    </hook>
    <hook id="index_engine.index_configuration_form.hook" class="%index_engine.index_configuration_form.hook.class%" scope="request">
      <argument type="service" id="index_engine.index_configuration_manager"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.index.form"/>
      <tag name="hook.event_listener" type="back" active="1" event="index_engine.index.form-javascript"/>
    </hook>
  </hooks>
</config>
