{javascripts file="assets/js/SearchEngine.js" source="IndexEngine"}
    <script src="{$asset_url}"></script>
{/javascripts}

{literal}
<script id="item-template" type="text/template">
<li class="item col-md-3 col-lg-2">
    <article class="row">
    <a class="product-image col-sm-3" tabindex="-1" href="{{url}}">
        <img class="img-responsive" src="{{image}}" itemprop="image">
    </a>
    <div class="product-info col-sm-6">
        <h2 class="name">
        <a href="#">
            <span class="name">{{name}}</span>
        </a>
        </h2>
        <div itemprop="description" class="description">
            <p>{{description}}</p>
        </div>
    </div>
    <div class="product-price col-sm-3">
        <div class="price-container row">
        <span class="regular-price col-xs-12">
            <span class="price" itemprop="price">{{price}}</span>
        </span>
        </div>
        <div>
            <div class="product-btn">
                <a class="btn btn-primary btn-block" href="{{url}}">
                    <i class="fa fa-eye"></i>{intl l="View Product"}
                </a>
            </div>
        </div>
    </div>
    </article>
</li>
</script>
{/literal}

<script type="text/javascript">
  $(function(){
    $('#form-search').remove();
    var locale = '{lang attr="locale"}';
    var currency = '{currency attr="code"}';
    var currencySymbol = '{currency attr="symbol"}';
    var items = [];
    var displayedItems = [];
    var templateItem = $('#item-template').html();
    var noResultTemplate = '<li class="col-sm-12">Sorry, no result for your search</li>';
    var $listResult = $('#list-result');



    var se = new SearchEngine("{url path='/api/public/search'}");

    function fetchResult(search){
      var results =  se.find(
        "products", // Then index configuration code
        {
            // Column filters, here you can define the results order and the filters to apply
            // Available filters: >, >=, <, <=, =, <>, LIKE
            "order": "id",
            "description_{lang attr="locale"}": ["LIKE", search],
        },
        {
            // Here you can play with the client's behaviour
            // You can define the results limit and offset ( for pagination )
            // And give your own success/fail callback
            fail: function(xhr) {
                //alert(xhr.status);
            }
        }
      );
      return results;
    }
    {literal}


    function createItem(item){
      this.id = item.id;
      this.name = item["title_"+locale];
      this.description = item["description_"+locale];
      this.url = item["url_"+locale];
      this.price = item["price_"+currency];
      this.promoPrice = '';
      this.image = item.image_url;
      this.template = templateItem;
    }    

    function populateItem(item){
      item.template = item.template.replace('{{name}}', item.name);
      item.template = item.template.replace(/{{url}}/g, item.url);
      item.template = item.template.replace('{{price}}', item.price + currencySymbol);
      item.template = item.template.replace('{{image}}', item.image);

      return item;
    }

    function populateDOM(item){
      $listResult.append(item.template);
      displayedItems.push(item.id);
    }

    function processResultItem(result){
      var results = result['results'];
      for (var i=0; i < results.length;i++){
        if (displayedItems.indexOf(results[i].id) === -1){
          var item = new createItem(results[i]);
          var populatedItem = populateItem(item);
          populateDOM(populatedItem);
        }    
      }
      if (displayedItems.length < 1){
        $listResult.append(noResultTemplate);
      }          
    }
    {/literal}

    // open search window
    $('#launch-search').on('click', function(e){
      e.preventDefault();
      $('#search-block').addClass('active');
      $('.page').addClass('hidden');
    });
    // close search window
    $('#search-block .close-icon').on('click', function(){
      $('#search-block').removeClass('active');
      $('.page').removeClass('hidden');
    });

    // query results
    $('#search-query-form')
      .on('submit', function(e){
        e.preventDefault();
        $('#list-result').empty();
        displayedItems = [];
        self = $(this);
        var searchQuery = $('#search-query', self).val();
        var resultSearchQuery = fetchResult(searchQuery);
        processResultItem(resultSearchQuery);
      });
    
  });
</script> 