  <div id="search-block">
    <p class="h1 title-search">{intl l="What are you searching for ?"}</p>
    <div class="close-icon">
      <i class="fa fa-close"></i>
    </div>
    <div class="search-input">
      <form id="search-query-form">
        <input type="text" placeholder="Search..." id="search-query">
      </form>
    </div>
    <div id="search-result" class="grid">
      <div id="category-products">
        <div class="products-content">
          <ul class="list-unstyled row" id="list-result">

          </ul>
        </div>
      </div>
    </div>
  </div>